<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  
    <div class="jumbotron jumbotron-fluid text-center">
      <div class="container"></div>
        <h1 class="display-4"><strong>Mission to Mars</strong></h1>
        <p><a class="btn btn-primary btn-lg" href="../scrape" role="button">Scrape New Data</a></p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Latest Mars News</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h4>{{ mars_dict.news_title }}</h4>
        <p>{{ mars_dict.news_p }}</p>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-8 col-lg-8">
        <h2 class="card-title">Featured Mars Image</h2>
      <img src='{{ mars_dict.featured_image_url | safe}}' class="card-img-bottom" alt="Mars Featured Image">
    </div>

    <div class="col-12 col-sm-12 col-md-4 col-lg-4">> 
      <h3>Mars Facts</h3>
      {{ mars_dict.facts_html_table | safe}}
    </div>
    
    <div class="row">
        {% for img in mars_dict.hemis_image_urls %}
        <div class="col-6">
          
            <img src="{{ img.img_url | safe}}" alt="Hemisphere Images">
            <div>
              <h5>{{ img.title | safe}}</h5>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
</body>

</html>
